/* Nav bar is designed here */
.nav {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: absolute;
  top: 22px;
  left: 67px;
  width: 27px;
  border-radius: 50%;
  background-color: white;
  line-height: 27px;
  color: #050d22;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: center;
}
.brand {
  width: 25%;
}
.brandName img {
  width: 270px;
}
.links {
  margin: auto;
}
.nav-link {
  font-size: 0.9rem;
  padding: 2px;
  border-bottom: 2px solid transparent;
  margin: 18px;
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.842);
  border-bottom: 2px solid crimson;
}
.user {
  letter-spacing: 2px;
  text-align: center;
  background-color: #2e374ad1;
  border-radius: 5px;
  margin: 0px 50px;
  border: 1px solid #57606a;
  padding: 5px 15px;
  width: 18%;
  color: rgba(255, 255, 255, 0.842);
}
.active {
  border-bottom: 2px solid white;
}
.mobileicon {
  display: none;
  color: whitesmoke;
}
.mobilebrand {
  color: whitesmoke;
  display: none;
  text-decoration: none;
}
@media screen and (max-width: 800px) and (min-width: 640px) {
  .user {
    display: none;
  }
}
@media screen and (max-width: 640px) and (min-width: 600px) {
  .user {
    display: none;
  }
  .links {
    display: none;
  }
  .brand {
    display: none;
  }
  .logo {
    top: 12px;
    left: 40%;
  }
  .mobileicon {
    font-size: 1.5rem;
    display: block;
    margin: 5px 20px;
  }
  .mobilebrand {
    line-height: 50px;
    font-size: 1.5rem;
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .user {
    display: none;
  }
  .links {
    display: none;
  }
  .brand {
    display: none;
  }
  .logo {
    top: 12px;
    left: 30%;
  }
  .mobileicon {
    font-size: 1.5rem;
    display: block;
    margin: 5px 20px;
  }
  .mobilebrand {
    line-height: 50px;
    font-size: 1.5rem;
    display: block;
    margin: auto;
  }
}
