.freepik {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  background-color: #050d22;
}
.freepik:hover {
  color: skyblue;
}
.github {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  background-color: #050d22;
}
.github:hover {
  color: skyblue;
}
.credits {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 6px 0px;
  /* height: 9vh; */
  background-color: rgb(241, 241, 241);
  border-bottom: 2px solid grey;
}
@media screen and (max-width: 700px) and (min-width: 540px) {
  .freepik{
    font-size: 0.7rem;
  }
  .github{
    font-size: 0.7rem;
  }
  .credits{
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 540px) {
  .credits{
    flex-direction: column;
  }
  .freepik{
    margin: 10px;
  }
  .github{
    margin: 10px;
  }
}